footer{
  background-color: #EE4248;
  text-align: center;
  .footer{
    padding: 22px 0 21px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }
}